{% extends 'template.html' %}

{% block main %}
	<div>
		<h1> The World </h1>
		<p> This information is still up in the air, but probably won't be changed too much</p>
		<p> Some day I'll come up with a better name than <em>The World</em>, for now, it's not a high priority.</p>
		<p> If you're on this webpage it probably means you're going to be playing in my campaign, this website is designed to give you information that'll be relevent to character creation, and information about <em>The World</em>. If I manage to do things right, you'll porbably want to check this somewhat often as it'll keep track of information for you (in case you forget!).

		<h2> Information</h2>
		<ul>
			<li>Ruleset:  3.5 mixed with Pathfinder... or Pathfinder, I'm not 100% sure yet </li>
			<li> We're starting at 4th level </li>
			<li> Race selection can be found at <a href="/Races/">Races</a>.  If you want to play anything not listed there you'll have to discuss it with me </li>
				<ul>
					<li>Sub-race flavors like <em> Whisper Gnome</em> and <em> Strongheart Halfling</em> are <strong>Okay</strong></li>
				</ul>
			<li> 28 (+1 from level four) point buy, 1:1 for stat points</li>
			<li> Standard wealth by level (6,000 GP @ 4)</li>
			<li> Skill Changes:</li>
			<ul>
				<li> Hide and Move Silents are combined into one skill: <strong>Stealth</strong></li>
				<li> Spot, Listen, and Search are combined into one skill: <strong>Perception</strong></li>
			</ul>
			<li>Planned start date is 6/7/2013 @ 7:00 pm</li>
		</ul>

	</div>
{% endblock %}
