{% extends 'history_template.html' %}
{% block main %}
<h2> Nyrium </h2>
<p>Nyrium was first discovered by Gnomes in 1291 during an expedition to explore a recently discovered cave system.  The properties of Nyruim are still largely undiscovered but appear to hold very potent mystical powers.  In a join effort between both the Gnomes and the Elves, Nyrium research has been under taken in very serious, very secret efforts.  The humans and orcs have heard about it from their spy networks, but only the very top level officials are even aware of its existence, much less its properties.</p>
{% endblock %}
