{% extends 'admin_template.html' %}
{% block main %}
<h2>Create An Encounter</h2>
<form id="encoutner">
	{%csrf_token%}
	<div id="characters">
	{% block character %}
	<div class="character">
		<input type="text" placeholder="Name" name="name" id="name" class="span2" value="No Name">
		<input type="text" placeholder="Level" name="level" id="level" class="span1">
		<select id="race" name="race" class="span2">
			<option>Dwarf</option>
			<option>Elf</option>
			<option>Gnome</option>
			<option>Half-Elf</option>
			<option>Half-Orc</option>
			<option>Halfling</option>
			<option>Human</option>
			<option>Kobold</option>
			<option>Orc</option>
		</select>
		<select id="class" name="class" class="span2">
			<option>Fighter</option>
			<option>Priest</option>
			<option>Rogue</option>
			<option>Mage</option>
		</select>
	</div>
	{% endblock %}
	</div>
	<div class="btn" id="another">Another</div>
</form>
<div id="generate_encounter" class="btn">Generate</div>
<div id="init" class="btn">Roll Initiatives</div>
<div id="placeholder"></div>
{% endblock %}
