{% extends 'admin_template.html' %}
{% block main%}
	<h1> Create a Person</h1>
	{% block person %}
	<form id="create_person"> {% csrf_token %}
		<input name="title" type="text" placeholder="Title" value ="{{person.title}}" class="span2" {{disabled}}/>
		<input type="text" placeholder="Name" name="name" value= "{{person.name}}" class="span2"{{disabled}}/>
		<select id="race" name="race" class="span2" value ="{{person.race}}" {{disabled}}>
			<option>Dwarf</option>
			<option>Elf</option>
			<option>Gnome</option>
			<option>Half-Elf</option>
			<option>Half-Orc</option>
			<option>Halfling</option>
			<option>Kobold</option>
			<option>Orc</option>
		</select>
		<div id="p_bools">
			<label class="checkbox inline">
				<input type="checkbox" id="isknown" value="True" name="isknown" {{isknown}} {{disabled}}> isKnown?
			</label>
			<label class="checkbox inline">
				<input type="checkbox" id="ismet" value="True" name="ismet" {{ismet}} {{disabled}}> isMet?
			</label>
		</div>
		<div id="p_desc"><strong>Player Description:</strong></div>
		<textarea rows="3" class="desc" name="desc" {{disabled}}>{{person.description}}</textarea>
		<div id="dm_desc"><strong>DM Description:</strong></div>
		<textarea rows="3" class="desc" name="dm_desc" {{disabled}}>{{dm_desc}}</textarea>
	</form>
	{% endblock %}
	<button class="btn" id="person_sheet">Create A Character Sheet</button>
	<div id="create_person_sheet"></div>
	<button class="btn" id="person_submit">Create</button>
{% endblock %}
{% block view %}
<button class="btn" id="person_edit">Edit</button>
<button class="btn person_save" id="{{person.pk}}" disabled>Save Changes</button>
<a href="/Admin/View/People"><button class="btn">Go Back</button></a>
{% endblock %}
