{% extends 'people_template.html' %}
{% block main %}
	<div id="people_view">
		<h1> Known Noteworthy People </h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Name</th>
					<th>Race</th>
				</tr>
			<thead>
			<tbody>
				{% for person in people %}
				<tr class="people_ajax_view" id={{person.pk}}>
					<td>{{person.title}}</td>
					<td>{{person.name}}</td>
					<td>{{person.race}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}	
